@model Hackathon.Feature.PageContent.Models.ViewModels.ChoiceViewModel

<div class="choice-box col-md-6 text-center animate-box fadeInUp animated">
    <a href="#" class="view">
        <div class="work" style="background-image: url(/assets/images/img-1.jpg);">
            <span>@Model.Title</span>
        </div>
    </a>
</div>
