
<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-push-3 col-md-6">
                    <h3 class="section-title">Hackstreet Boys Hackathon</h3>
                    <p>Thank you for visiting us. We hope you enjoy the Hackathon!</p>
                </div>
                 
            </div>
            <div class="row copy-right">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icon">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                    <p>Copyright 2020 <a href="https://github.com/2020-hackstreet-boys">Hackstreet Boys</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>