@model Hackathon.Feature.PageContent.Models.ViewModels.MenuViewModel

@if (Model != null)
{
    <ul>
        @foreach (var menuLink in Model.MenuLinks)
        {
            bool showLink = !menuLink.HideWithLoggedInUser && !menuLink.ShowOnlyOnLogin;
            if (menuLink.HideWithLoggedInUser)
            {
                showLink = !Model.UserLoggedIn;
            }
            else if (menuLink.ShowOnlyOnLogin)
            {
                showLink = Model.UserLoggedIn;
            }
            
            if (showLink)
            {
                <li><a href="@menuLink.LinkUrl">@menuLink.Label</a></li>
            }
        } 
    </ul>
}