@model Hackathon.Feature.PageContent.Models.ViewModels.RichTextContentViewModel

@if (Model != null)
{
    <div id="fh5co-intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 animate-box text-center">
                    @*
                    <h2 class="intro-heading">Nurgle Furgle Nurgle Furgle Nurgle Furgle Nurgle Furgle</h2>
                    <p><span>Created with <i class="icon-heart3"></i> by the fine folks at <a href="http://freehtml5.co">AISF;SDKsdafasdfas</a></span></p>
                    *@

                    @Html.Raw(Model.TextContent)
                </div>
            </div>
        </div>
    </div>
}