<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 animate-box fadeInUp animated">

            @Html.Sitecore().Placeholder("inner")

        </div>
    </div>
</div>