@using Sitecore.Mvc

@using Sitecore.Mvc.Analytics.Extensions
@{

    Layout = "OuterLayout.cshtml";

}
<div>

    @Html.Sitecore().Placeholder("header")

    <div id="fh5co-page">

        @Html.Sitecore().Placeholder("content")

        @Html.Sitecore().Placeholder("footer")

    </div>
</div>



