<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          <setting name="hackathon.GithubPersonalAccessKey" value="4e896b9d295527200a532fefd153462c11735a35 "></setting>
          <setting name="hackathon.GithubOwnerAccount" value="aokour"></setting>
          <setting name="hackathon.GitHubAppName" value="sitecore-hackathon-app"></setting>
          <setting name="hackathon.TeamsFolder" value="/sitecore/content/Global/Teams"></setting>
          <setting name="hackathon.TeamMembersFolder" value="/sitecore/content/Global/Members"></setting>
          <setting name="hackathon.OrganizationName" value="2020-hackstreet-boys"></setting>
          <!--Post-->
          <setting name="hackathon.GithubCreateOrganizationTeamUrl" value="/orgs/{org-name}/teams"></setting>
          <!--PUT-->
          <setting name="hackathon.GithubCreateOrganizationTeamRepoUrl" value="/orgs/{org-name}/repos"></setting>
          <setting name="hackathon.GithubAddUserToRepoUrl" value="/repos/{org-name}/{repo-name}/collaborators/{username}"></setting>
      </settings>      
  </sitecore>
</configuration>