<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          <setting key="hackathon.GithubPersonalAccessKey" value="58c2c290735fc5d6b848123ce7f13ded3189e654"></setting>
          <setting key="hackathon.GithubOwnerAccount" value="aokour"></setting>
          <setting key="hackathon.TeamsFolder" value="/sitecore/content/Global/Teams"></setting>
          <setting key="hackathon.OrganizationName" value="2020-hackstreet-boys"></setting>
          <!--Post-->
          <setting key="hackathon.GithubCreateOrganizationTeamUrl" value="/orgs/{org-name}/teams"></setting>
          <!--PUT-->
          <setting key="hackathon.GithubCreateOrganizationTeamRepoUrl" value="/orgs/{org-name}/repos"></setting>
          <setting key="hackathon.GithubAddUserToRepoUrl" value="/repos/{org-name}/{repo-name}/collaborators/{username}"></setting>
      </settings>      
  </sitecore>
</configuration>