<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          
      </settings>

      <log4net>

          <!--<logger name="Hackathon.Foundation.Hackstreet.Reports.RedirectReport" additivity="false">
              <level value="INFO" />
              <encoding value="utf-8" />
              <appender-ref ref="GCImportRedirectReportAppender" />
          </logger>

          <logger name="Hackathon.Foundation.Hackstreet.Reports.LinkReport" additivity="false">
              <level value="INFO" />
              <encoding value="utf-8" />
              <appender-ref ref="GCImportLinkReportAppender" />
          </logger>-->

          <logger name="Hackathon.Foundation.Account.Reports.ImportLog" additivity="false">
              <level value="INFO" />
              <encoding value="utf-8" />
              <appender-ref ref="GCImportAppender" />
          </logger>
      </log4net>
  </sitecore>
</configuration>