<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Account" >
            <!-- Core -->
            <include name="Foundation.Account.Foundation" database="core" path="/sitecore/templates/System/Security/Custom User Profile">
            </include>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>