<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore>
        <sc.variable env:require="Local" name="sourceFolder" value="C:\git\2020-Hackstreet-Boys\src" />
        <sc.variable env:require="!Local" name="sourceFolder" value="C:\git\2020-Hackstreet-Boys\src" />
    </sitecore>
</configuration>
