<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.Forms" description="Feature Forms" dependencies="Foundation.Serialization,Foundation.Indexing,Foundation.Teams" patch:after="configuration[@name='Foundation.Serialization,Foundation.Hackstreet']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\feature\forms\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Feature.Forms.Settings" database="master" path="/sitecore/system/Settings/Feature/Forms" />
                        <include name="Feature.Forms.SubmitActions" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Custom" />
                        <include name="Feature.Forms.Forms" database="master" path="/sitecore/Forms" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>